 
 <h1>Login page</h1>
 

 
 <form id="form" action="/login" method="POST">
    <label for="username">Username</label><br>
    <input required type="text" name="username"
      placeholder="Your username">

    <label for="password">Password</label><br>
    <input required type="password" name="password"
      placeholder="********">

 {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}

    <button type="submit">login</button>
  </form>

  